/*HEADER*/
.navbar-header a img{
    padding:0;
    margin-right:20px;
    border:1px solid white;
    border-radius:3px;
    opacity:.95;
}
.navbar-header a:hover{
    opacity:.85;
}
.navbar-nav li{
    padding-right: 15px;
}
#top-navbar{
    background:black;
    margin-bottom:1px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
}
.inverse-dropdown>li>a {
    color: #999;
}
.inverse-dropdown:hover{
     color: #fff;
     background-color: #000;
 }

/*JTABLE*/
.main {
    margin-left: 4%;
}

/*FAQ*/
.titre{
    margin: 20px auto;
    text-align:center;
    color: #ba2121;
    font-weight: bold;
}
.faq p{
    color:#444444;
}
/*FOOTER*/
#pied{
    height:80px;
}
#footer{
    position:fixed;
    bottom:0;
    width:100%;
    padding:5px;
    color:gray;
    text-align:center;
    font-size:1em;
    background:black;
}
